.block__item-draggable{
  box-shadow: 0px 0px 20px 0px #3b7dee;
  opacity: 0.8;
}

.block__empty {
  display: flex;
  flex-direction: row;
  background-color: #b7b3c7;
}

.block__empty__item{
width: 100%;
border: 2px solid #b7b3c7;
}

.below-block{
  border: 2px solid #b7b3c7;
  box-shadow: 0px 0px 10px 6px #726995;
}

.drag__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 2rem; */
  gap: 1rem;
}

.animate-down {
  /* transition: 'transform 2s ease'; */
  animation: moveDown 0.5s ease; /* Применяем анимацию moveUp */
}

@keyframes moveDown {
  from {
    transform: translateY(-100%); /* Конечная позиция элемента (выше на 100%) */
  }
  to {
    transform: translateY(0); /* Начальная позиция элемента */
}
}
