.block__item-draggable{
  background-color: rgb(4, 116, 56);
}

.block__empty {
  display: flex;
  flex-direction: row;
}
.block__empty__item{
width: 100%;
border: 2px solid black;
}

.below-block{
  border: 2px solid rgb(1, 178, 16);
}


/* ????? */

.drag-start {
  position: 'absolute';
  z-index: 1000;
  background-color: 'white';
  cursor:'move';
  transition: 'none';
  background-color: white;
  transition: none;
}

.drag-stop {
  position: 'inherit';
   /* left: 'auto'; */
   /* top: 'auto'; */
  z-index: 'auto';
  transform: 'none';
  background-color: 'transparent';
  transition: 'transform 0.5s ease';
}
.animate-up {
  /* transition: 'transform 2s ease'; */
  animation: moveUp 0.5s ease; /* Применяем анимацию moveUp */
}

@keyframes moveUp {
  from {
    transform: translateY(-100%); /* Конечная позиция элемента (выше на 100%) */
  }
  to {
    transform: translateY(0); /* Начальная позиция элемента */
}
}